apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  labels:
    app: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: nginx:latest
          ports:
            - containerPort: 80
          env:
          - name: WELCOME_MESSAGE
            valueFrom:
              configMapKeyRef:
                name: webapp-config
                key: WELCOME_MESSAGE
          - name: API_KEY
            valueFrom:
              secretKeyRef:
                name: webapp-secret
                key: API_KEY
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests: # minimum needed
              memory: "64Mi"
              cpu: "100m"
            limits: # maximum allowed
              memory: "128Mi"
              cpu: "250m"